@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/fonts-icons/icomoon.eot?39d74b');
  src:  url('../fonts/fonts-icons/icomoon.eot?39d74b#iefix') format('embedded-opentype'),
    url('../fonts/fonts-icons/icomoon.ttf?39d74b') format('truetype'),
    url('../fonts/fonts-icons/icomoon.woff?39d74b') format('woff'),
    url('../fonts/fonts-icons/icomoon.svg?39d74b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-black-shape:before {
  content: "\e900";
}
.icon-behance-network-logo:before {
  content: "\e901";
}
.icon-linkedin-letters:before {
  content: "\e902";
}
.icon-pinterest-social-logo:before {
  content: "\e903";
}
.icon-phone-call:before {
  content: "\e904";
}
.icon-placeholder:before {
  content: "\e905";
}
.icon-mail:before {
  content: "\e906";
}
.icon-information-button:before {
  content: "\e907";
}
.icon-pin:before {
  content: "\e908";
}
.icon-facebook-letter-logo:before {
  content: "\e909";
}
